<ui:composition template="/templates/template.xhtml" 
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:f="http://java.sun.com/jsf/core" 
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="heading">
		<h1><h:outputText value="Lista de Productos"/></h1>
	</ui:define>
	<ui:define name="content">

		<h:form>
		
			<p:commandButton action="#{alumnoBean.bu}"  value="Cargar tabla" title="Cargar tabla" update= "alumnos" />  
 			<p:commandButton action="alumno.xhtml"  value="Agregar" title="Agregar"  />  			
		<p:dataTable 
				id="alumnos"
				paginator="true"
				paginatorPosition="top"
				var="al"
				value="#{alumnoBean.alumnoList}"
        		emptyMessage="No hay alumnos">			
				
 				<p:column>
 					<p:commandButton id="update" value="Modificar" action="#{productAltaBean.preUpdate}" 
 					title="Editar Producto">
 					<f:setPropertyActionListener value="#{p}" target="#{productAltaBean.product}" />					 
 					</p:commandButton>
 				
 					
 					
 				</p:column>
				
				<p:column headerText="DNI" filterBy="#{al.dni}" style="width:10%" filterMatchMode="contains">
					<h:outputText value="#{al.dni}"/> 				
				</p:column>
				
				<p:column headerText="Nombre" filterBy="#{al.nombre}" style="width:10%" filterMatchMode="contains">
					<h:outputText value="#{al.nombre}"/>	
				</p:column>
				
				<p:column>
					<f:facet name="header" style="width:10%">
					<h:outputText value="domicilio"/>
					</f:facet>		
					<h:outputText value="#{al.domicilio}"/>
				</p:column>
				
				<p:column>
					<f:facet name="header" style="width:10%">
						<h:outputText value="telefono"/>
					</f:facet>		
					<h:outputText value="#{al.telefono}"/>
				</p:column>
				
				<p:column>
					<f:facet name="header" style="width:10%">
						<h:outputText value="email"/>
					</f:facet>		
					<h:outputText value="#{al.email}"/>
				</p:column>
		
			</p:dataTable>
			
		</h:form>

</ui:define>
</ui:composition>
