<ui:composition template="/templates/template.xhtml" 
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:f="http://java.sun.com/jsf/core" 
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<ui:define name="heading">
		<h1><h:outputText value="Alumno"/></h1>
	</ui:define>

	<ui:define name="content">


		<h:form>
			<h:messages globalOnly="true"></h:messages>
		 	<h:panelGrid columns="2">
		 		
		 		<h:outputText value="Nombre: "/>
		      	<h:inputText id="nombre" converMessage="Debe ingresar su nombre" />
		      	<h:outputText value="Apellido:"/>
		      	<h:inputText id="apellido"  converterMessage="Debe ingresar su apellido"/> 
		      	<h:outputText value="Dni:"/>
		      	<h:inputText id="dni"  converterMessage="Debe ingresar su dni" /> 
		      	<h:outputText value="Domicilio:"/>
		      	<h:inputText id="domicilio" converterMessage="Debe ingresar su domicilio"/> 
		      	<h:outputText value="Email:"/>
		      	<h:inputText id="Email" converterMessage="Debe ingresar su email"/> 
		      	
		        <h:commandButton id="acc"   value="Actualizar Datos"/> 
		        <h:commandButton id="gr" value="Guardar"/>
		
			</h:panelGrid>
			
		</h:form>

</ui:define>
</ui:composition>