<ui:composition template="/templates/template.xhtml" 
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:f="http://java.sun.com/jsf/core" 
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="heading">
		<h1><h:outputText value="Ejemplo Ajax"/></h1>
	</ui:define>

	<ui:define name="content">


		<h:form>
<!-- 			<h:messages globalOnly="true"/> -->
			<p:growl id="message" showDetail="true" />
		 	<h:panelGrid columns="3">
		 		
		      	<p:outputLabel value="Pais:"/>
				 <p:selectOneMenu id="pais" value="#{ejemploAjaxBean.pais}" required="true" update="provincias">
					<f:selectItem itemValue="ARG" itemLabel="Argentina"></f:selectItem>
					<f:selectItem itemValue="BRA" itemLabel="Brasil"></f:selectItem>
					<f:selectItem itemValue="BOL" itemLabel="Bolivia"></f:selectItem>
					<f:ajax event="blur" listener="#{ejemploAjaxBean.buscarProvincias}" render="provincias"/>
				</p:selectOneMenu>
				
				<p:outputLabel value="Provincia:"/>
				 <p:selectOneMenu id="provincias" value="#{ejemploAjaxBean.provincia}">
					<f:selectItems value="#{ejemploAjaxBean.listaProvincias}" var="prov" itemLabel="#{prov.label}" itemValue="#{prov.value}" />

				</p:selectOneMenu>
	
			</h:panelGrid>
			
		</h:form>

</ui:define>
</ui:composition>
