<ui:composition template="/templates/template.xhtml" 
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:f="http://java.sun.com/jsf/core" 
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="heading">
		<h1><h:outputText value="Lista de Productos"/></h1>
	</ui:define>

	<ui:define name="content">


		<h:form>
<!-- 			<h:messages globalOnly="true"/> -->
			<p:growl id="message" showDetail="true" />
		 	<h:panelGrid columns="3">
		 		
		 		<p:outputLabel for="codigo" value="Código:"/>
		      	<p:inputText id="codigo" value="#{productListBean.codigo}" converterMessage="Debe ingresar un Número">
		      		<f:convertNumber integerOnly="true" groupingUsed="false"/>
		      	</p:inputText>
		      	<p:message for="codigo" showSummary="true" showDetail="false"  styleClass="error" />
		
		      	
		 		<p:outputLabel value="Nombre:"/>
		      	<p:inputText id="nombre" value="#{productListBean.nombre}" />      	
		      	
	      	
		        <p:commandButton action="#{productListBean.search}"  value="Buscar" title="Buscar" update="products"/> 
		        <p:commandButton action="#{productAltaBean.preInsert}" value="Nuevo" title="Nuevo"/> 
		
			</h:panelGrid>
			
			<p:dataTable id="products" value="#{productListBean.productList}" var="p"
				styleClass="scrollerTable"
				paginator="true" 
				headerClass="standardTable_Header"
        			footerClass="standardTable_Header"
        			columnClasses="columna_abajoderecha,columna_abajoderecha,columna_abajo"
        			preserveDataModel="false">			
				
				<p:column>
					<p:commandButton id="update" value="Modificar" action="#{productAltaBean.preUpdate}" title="Editar Producto">
						<f:setPropertyActionListener value="#{p}" target="#{productAltaBean.product}" />					
					</p:commandButton>
				</p:column>
				
				<p:column>
					<f:facet name="header" style="width:10%">
						<h:outputText value="Código"/>
					</f:facet>
					<h:outputText value="#{p.codigo}"/>
				</p:column>
				<p:column>
					<f:facet name="header" style="width:10%">
						<h:outputText value="Nombre"/>
					</f:facet>		
					<h:outputText value="#{p.nombre}"/>
				</p:column>
				<p:column>
					<f:facet name="header" style="width:10%">
						<h:outputText value="Precio Unitario"/>
					</f:facet>
					<h:outputText value="#{p.precioUnitario}">
						<f:convertNumber pattern="$#,##0.00"/>				
					</h:outputText>
				</p:column>
				<p:column>
					<f:facet name="header" style="width:10%">
						<h:outputText value="Fecha de Ingreso"/>    
					</f:facet>
					<h:outputText value="#{p.fechaIngreso}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:outputText>	
				</p:column>
			
			</p:dataTable>
			
		</h:form>

</ui:define>
</ui:composition>
