<ui:composition template="/templates/template.xhtml" 
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:f="http://java.sun.com/jsf/core" 
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<ui:define name="heading">
		<h1><h:outputText value="Alta de Alumno"/></h1>
	</ui:define>

	<ui:define name="content">
		<h:form>
			<h:messages globalOnly="true"></h:messages>
		 	<h:panelGrid columns="3">
		 		<h:outputText value="Código: "/>
		      	<h:inputText id="codigo" value="#{productAltaBean.product.codigo}" converterMessage="Debe ingresar un Número">
		      	<f:convertNumber integerOnly="true" groupingUsed="false" />
		      	</h:inputText>
		      	<h:message for="codigo" showSummary="true" showDetail="false"  styleClass="error" />      	
		 		<h:outputText value="Nombre:"/>
		      	<h:inputText id="nombre" value="#{productAltaBean.product.nombre}" />      	
		        <h:commandButton id="submit" action="#{productAltaBean.guardar}"  value="Guardar"/> 
			</h:panelGrid>
		</h:form>
</ui:define>
</ui:composition>